# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.kaggle-env/
.kaggle/

# Jupyter Notebooks checkpoint files
.ipynb_checkpoints/

# Kaggle API credentials
kaggle.json

# Dataset downloads + frontend stuff
*.zip
*.csv
*.json
*.tsv
*.parquet
*.h5
*.npy
*.html
math_dataset/

# Logs and outputs
*.log
*.out
*.tmp

# VSCode or PyCharm configs
.vscode/
.idea/

# Allow homework outputs
!src/homework/hwzips/
!src/homework/hwzips/*
!src/homework/hwzips.zip
!docs/*.html
