# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.joblib

# Virtual environments
venv/
env/
.kaggle-env/
.kaggle/

# Jupyter Notebooks checkpoint files
.ipynb_checkpoints/

# Kaggle API credentials
kaggle.json

# Dataset downloads
*.zip
*.csv
*.json
*.tsv
*.parquet
*.h5
*.npy
*.html
*.xlsx

# assignments and project stuff
math_dataset/
math/
hwzips/
sandbox/
PetImages/
*.keras

# Logs and outputs
*.log
*.out
*.tmp

# VSCode or PyCharm configs
.vscode/
.idea/

# Allow homework outputs
!docs/*.html

# pixi environments
.pixi
